/.idea

# Image cache files
/www/image/cache/*
!/www/image/cache/index.html

# Storage files
/storage/backup/*
!/storage/backup/index.html
/storage/cache/*
!/storage/cache/index.html
/storage/download/*
!/storage/download/index.html
/storage/logs/*
!/storage/logs/index.html
/storage/session/*
!/storage/session/index.html
/storage/upload/*
!/storage/upload/index.html

# CSS Files
/www/catalog/view/stylesheet/stylesheet.css

# Docker files
/.docker/log/apache/*
!/.docker/log/apache/.gitkeep
/.docker/log/php/*
!/.docker/log/php/.gitkeep
/.docker/log/xdebug/*
!/.docker/log/xdebug/.gitkeep
